/* 专业 */
.major {
    background: url("../imgs/index_mj.jpg");
    height: 460px;
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.index_tit {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.index_tit h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.index_tit span {
    font-size: 14px;
}

.major_list ul li {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 20px;
}

.major_list ul li:nth-child(4n) {
    margin-right: 0;
}

.major_list ul li h3 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}

.major_list ul li p {
    font-size: 14px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 20px;
}

.major_list ul li a {
    display: inline-block;
    width: 110px;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #ff8659;
    color: #ff8659;
    border-radius: 3px;
}

.major_list ul li:nth-child(1) {
    border-top: 3px solid #ff9972;
}

.major_list ul li:nth-child(2) {
    border-top: 3px solid #85bb59;
}

.major_list ul li:nth-child(3) {
    border-top: 3px solid #63a5ff;
}

.major_list ul li:nth-child(4) {
    border-top: 3px solid #ff764d;
}

.major_list ul li:hover {
    box-shadow: -2px 0 7px #e0e0e0,
        2px 0 7px #e0e0e0, 0 0 0 #e0e0e0, 0 2px 7px #e0e0e0;
}

.major_list ul li:nth-child(1):hover a {
    background: #ff9972;
    color: #fff;
}

.major_list ul li:nth-child(2) a {
    border-color: #85bb59;
    color: #85bb59;
}

.major_list ul li:nth-child(3) a {
    border-color: #63a5ff;
    color: #63a5ff;
}

.major_list ul li:nth-child(4) a {
    border-color: #ff764d;
    color: #ff764d;
}

.major_list ul li:nth-child(2):hover a {
    background: #85bb59;
    color: #fff;
}

.major_list ul li:nth-child(3):hover a {
    background: #63a5ff;
    color: #fff;
}

.major_list ul li:nth-child(4):hover a {
    background: #ff764d;
    color: #fff;
}

.index_tit h2 {
    font-size: 22px;
    font-weight: normal;
}

/* 关于我们 */
.content {
    background: url(../imgs/index_bj2.jpg);
    height: 1617px;
    width: 100%;
}

.about_img {
    width: 33%;
}

.about_img img {
    width: 100%;
}

.about_ms {
    width: 65%;
}

.about_ms div {
    font-size: 18px;
    margin-bottom: 10px;
}

.about_ms p {
    font-size: 14px;
    line-height: 28px;
}

/* 就业保障 */
.index_tit h3 {
    font-size: 20px;
    font-weight: normal;
}

.cooperation {
    margin-bottom: 40px;
}

.cooperation_li img {
    width: 174px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
}

.cooperation_li a {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* 开始 */
.banner .swiper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.current-swiper {
    width: 650px;
    height: 370px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 99;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.left-swiper {
    position: absolute;
    left: 117px;
    top: 52px;
    z-index: 1;
}

.right-swiper {
    position: absolute;
    right: 117px;
    left: auto;
    top: 52px;
    z-index: 1;
}

.nocurrent-swiper {
    width: 479px;
    height: 273px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.nocurrent-swiper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 240, 240, 0.9);
    z-index: 99;
}

.slide1 {
    background: url(../images/p1.jpg) no-repeat right 50%/auto 100% #fff;
}

.slide2 {
    background: url(../images/p2.jpg) no-repeat right 50%/auto 100% #e2e3e8;
}

.slide3 {
    background: url(../images/p3.jpg) no-repeat right 50%/auto 100% #f0faf9;
}

.title {
    padding-top: 70px;
    margin-left: 45px;
    height: 29px;
    line-height: 29px;
    font-size: 18px;
    color: #666;
}

.nocurrent-swiper .title {
    padding-top: 44px;
    margin-left: 30px;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}

.name {
    margin-left: 45px;
    height: 55px;
    display: inline-block;
    position: relative;
    line-height: 55px;
    padding-bottom: 9px;
    padding-right: 55px;
    border-bottom: 1px solid #dddddd;
    font-size: 36px;
    color: #333;
}

.nocurrent-swiper .name {
    height: 46px;
    line-height: 46px;
    font-size: 30px;
    padding-right: 46px;
    margin-left: 30px;
}

.name:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../images/curr_sectbg.png) no-repeat center center;
}

.nocurrent-swiper .name:before {
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
}

.detail {
    margin-left: 45px;
    width: 275px;
    margin-top: 30px;
    padding-right: 5px;
    line-height: 24px;
    color: #bbb;
    font-size: 14px;
}

.nocurrent-swiper .detail {
    font-size: 12px;
    line-height: 20px;
    width: 235px;
    margin-left: 30px;
}

.swiper-button-prev {
    width: 46px;
    height: 46px;
    background: url(../images/curr_prev.png) no-repeat center center;
}

.swiper-button-next {
    width: 46px;
    height: 46px;
    background-size: auto;
    background-image: url(../images/curr_next.png);
}

/* 民航资讯 */
.newsW {
    float: left;
    width: 32%;
    margin-right: 2%;
    box-sizing: border-box;
}
.news_l{
    padding-bottom: 14px;
}
.news_m{
    padding-bottom: 14px;
}

.news_r {
    margin-right: 0;
}

.news_top {
    line-height: 54px;
    border-bottom: 1px solid #e5e5e5;
}

.news_top span {
    font-size: 18px;
    color: #000;
}

.news_top a {
    font-size: 14px;
}

.news_midimg {
    margin-top: 20px;
}

.news_midimg img {
    width: 100%;
    height: 126px;
}

.news_midtit {
    margin-top: 15px;
    margin-bottom: 10px;
}

.p_tit a {
    font-size: 14px;
    display: inline-block;
    padding-left: 22px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url(../imgs/ndot.jpg) left center no-repeat;
}
.p_tit a:hover{
    color: #1E85D0;
}
.news_bot ul li a:hover{
    color: #1E85D0;
}

.p_ms {
    font-size: 12px;
    color: #999;
    line-height: 22px;
}

.news_bot ul li {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    font-size: 14px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 22px;
    background: url(../imgs/ndot.jpg) left center no-repeat;
}

/*  */
.txtMarquee-top {
    padding: 15px;
    box-sizing: border-box;
}

.ques {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    background: #1E85D0;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #1E85D0;
}

.ques2 {
    background: #fff;
    color: #1E85D0;
}

.infoList li {
    margin-bottom: 10px;
}

.infoList li .p_one {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.que_tit {
    font-size: 14px;
}
.que_tit:hover{
    color: #1E85D0;
}

.infoList li .p_two .que_tit {
    color: #999;
    font-size: 12px;
}
/* links */
.links{
    background: url(../imgs/links.jpg)left center no-repeat;
    height: 80px;
    line-height: 80px;
    margin: 20px;
}
.links_wrap{
    width: 100%;
    overflow: hidden;
    padding-left: 200px;
    box-sizing: border-box;

}
.links_wrap a{
    padding: 0 12px;
    font-size: 14px;
}